@charset "utf-8";


/*  Styling  */


* {
  padding: 0;
  margin: 0;
}

body, html {
  height: 150%;
  min-height: 100%;
  overflow-y: auto; 
}

.main {
  background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/zig%20zag%20wool.png'); 
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 75%;
  height: 150%;
  min-height: 100%;
  float: right;
  transition: .2s;
  z-index: 1;
}

.overlay {
  width: 100%;
  height: 150%;
  min-height: 100%;
  background-color: white;
  opacity: 0.9;
  z-index: 2;
}

h1 {
  color: darkred;
  font-family: "Raleway";
  font-weight: bold;
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 5%;
  text-shadow: 1px 1px 1px dimgray;
}

#showcase-area {
  width: 100%;
  text-align: center;
}

.panels {
  text-align: center;
}

#panel1, #panel2 {
  text-align: center;
  width: 300px;
  height: 300px;
  background-color: white;
  display: inline-block;
  margin: 3% 3% 0% 3%; 
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em 0.2em 0.1em dimgray;
}

#panel3, #panel4 {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 0% 3% 0% 3%; 
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em 0.2em 0.1em dimgray;
}

#panel3 {
  background-color: white;
}

#mia-text {
  margin-left: 173px;
}

#panel4 {
  visibility: hidden;
}


.new-row {
  text-align: center;  
}

#panel1-thumbnail, #panel2-thumbnail, #panel3-thumbnail {
  width: 100%;
  height: 250px;
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
}

#panel1-thumbnail {
  background-image: url('rjs.png');
  background-size: cover;   
}

#panel2-thumbnail {
  background-image: url('ihf.png');
  background-size: cover;   
}

#panel3-thumbnail {
  background-image: url('movieapp.png');
  background-size: cover;   
}

#panel1-header {
  background-color: white;  
  border-radius: 0.4em;
}

#panel2-header {
  background-color: white;  
  border-radius: 0.4em;
}

#panel3-header {
  background-color: white;  
  border-radius: 0.4em
}

#panel1-header, #panel2-header, #panel3-header {
  width: 100%;
  height: 50px;
  border-top: solid 1px lightgray;    
}

h4 {
  color: darkred;
  margin-top: 10px;
  font-family: "Muli";
}

#rjs-text, #ihf-text, #mia-text {
  color: rebeccapurple;
  font-size: 1.2em;
  float: left;
  padding: 40px 40px 0px 40px;
  text-shadow: 1px 1px 1px gainsboro;
}

.text {
  margin-left: 210px;
}

.panel-overlay {
  height: 100%;
  width: 100%;
  background-color: black;  
}

.overlay-link {
    
}

.nav-bar {
  background-color: #4a235a;
  width: 25%;
  height: 100%;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  box-shadow: 2px 0px 4px black;
  position: fixed;
}

.nav-panel {
  padding: 10% 30%;
  margin-top: 0%;
}

.nav-panel li {
  color: white;
  text-transform: uppercase;
  list-style-type: none;
  padding: 20%;
  border-bottom: solid 1px gray;
  font-size: 1.2em;
}

.nav-panel li:hover {
  color: gray;
}

.gts-logo {
  width: 110px;
  margin: 0;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;  
} 

.space {
  position: relative;
  left: 20px;
}

.active {
  color: cyan;
  font-weight: bold;
}

.active:hover {
  color: cyan;
  font-weight: bold;
}

.selected {
  color: #2471a3;
  font-weight: bold;
}

.selected:hover {
  color: #2471a3;
  font-weight: bold;
}

.nav-link {
  font-family: Muli;
  position: relative;
  right: 15px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(211,211,211,0.8);
}

.menu-icon {
  visibility: hidden;
  width: 30px;
  margin: 1.2%;
  padding: 0.05% 0.02%;
}

.hide-nav {
  transform: translateX(-100%);
}

.expand-main {
  width: 100%;
}

.shift-h1 {
    margin-top: -1%;
}

.mobile-menu-icon {
    display: none;
}

.mobile-dropdown {
    display: none;
}

.text-on-hover {
   color: rebeccapurple;
}

.blur {
    opacity: 0.8;
}



/* MEDIA QUERIES */





@media (max-width: 1500px) {
    
 #rjs-text, #ihf-text {
   padding: 40px 40px 0px 40px;

}
    
#mia-text {
  margin-left: 160px;
}
    
.text {
   margin-left: 185px;
 }
}


@media (max-width: 1450px) {
.text {
   margin-left: 170px;
 }
    
#mia-text {
  margin-left: 150px;
}
}


@media (max-width: 1400px) {  
.text {
   margin-left: 150px;
 }
    
#mia-text {
  margin-left: 130px;
}
}

@media (max-width: 1350px) {
.text {
   margin-left: 135px;
 }
    
#mia-text {
  margin-left: 110px;
}
    
}

@media (max-width: 1300px) {
 #rjs-text, #ihf-text {
   font-size: 1.2em;
   float: left;
   padding: 35px 35px 0px 35px;   
}
    
#mia-text {
  margin-left: 95px;
}
    
.text {
   margin-left: 125px;
 }
}

@media (max-width: 1250px) {
 #rjs-text, #ihf-text {
   font-size: 1.2em;
   float: left;
   padding: 35px 35px 0px 35px;     
}
    
.text {
   margin-left: 115px;
 }
    
#mia-text {
  margin-left: 80px;
}
}

@media (max-width: 1200px) {
 #rjs-text, #ihf-text {
   font-size: 1.2em;
   float: left;
   padding: 35px 35px 0px 35px;    
}
    
    #panel2 {
        clear:both;
    }
    
#mia-text {
  margin-left: 60px;
}
    
.text {
   margin-left: 95px;
 }
}

@media (max-width: 1150px) {
 #rjs-text, #ihf-text {
   font-size: 1.2em;
   float: left; 
   padding: 30px 30px 0px 30px;     
}
    
#mia-text {
  margin-left: 40px;
}
    
.text {
   margin-left: 80px;
 }
}


@media (max-width: 1100px) {
 #rjs-text, #ihf-text {
   font-size: 1.2em;
   float: left;
   padding: 30px 30px 0px 30px;   
}
  
#mia-text {
  margin-left: 25px;
}    
.text {
   margin-left: 65px;
 }
}

@media (max-width: 1050px) {
 #rjs-text, #ihf-text {
   font-size: 1.2em;
   float: left; 
   padding: 25px 20px 0px 20px;    
}
  
#mia-text {
  margin-left: 0px;
}
    
.text {
   margin-left: 65px;
 }
}


@media (max-width: 1030px) {
 #rjs-text, #ihf-text {
   font-size: 1.2em;
   float: left;
   padding: 25px 20px 0px 20px;    
}
    
#mia-text {
  margin-left: 0px;
}
    
.text {
   margin-left: 55px;
 }
}


@media (max-width: 1000px) {
    #rjs-text, #ihf-text, #mia-text {
        font-size: 1.2em;
        float: left;
        padding: 25px 15px 0px 15px;    
    }
    #ihf-text {
        position: relative;
        left: 285px;
        bottom: 133px;
        float: left; 
    }

    #rjs-text {
        position: relative;
        right: 35px; 
    }
    
    #mia-text {
        float: left;
    }
    
}
    
  
@media (max-width: 921px) and (max-width: 999px) {
    #ihf-text {
        position: relative;
        left: 280px;
        bottom: 133px;
        float: left;
    }

    #rjs-text {
        position: relative;
        right: 29px; 
    }
    
    /*
    #mia-text {
        position: relative;
        left: 280px;
    }
    */
} 


@media (max-width: 930px) {

    #rjs-text, #ihf-text, #mia-text {
        display: none;
    }
   
    #panel1, #panel2 {
        margin: 20px 0;
    }

    #panel3 {
        margin: 20px 20px;
    }
    
    
    }



@media (min-width: 1000px) and (max-width: 1250px) {
    .nav-link {
    font-size: 0.9em;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  
  .nav-link {
    font-size: 0.8em;
  }
    
   #rjs-text, #ihf-text {
   font-size: 1.2em;
  /* float: left; */
   padding: 30px 25px;    
}
   
}

@media (max-width: 800px) {
  
  .nav-link {
    font-size: 0.9em;
  }
  
  h3 {
    font-size: 0.8em;
  }
}


@media (max-width: 750px) {
    
    .nav-link {
    font-size: 0.8em;
  }
}



@media (max-width: 600px) {
    body, html {
        overflow-y: auto;
    }
  
  .main {
    width: 100%;
  }
  
  .nav-bar {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }

  a {
  color: white;
  }
  
  body, html {
    width: 100%;
    height: 130%;
    margin: 0px;
    padding: 0px;
    background-color: #4a235a; 
    }
   
  .nav-bar {
    display: none;
    }
    
  .menu-icon {
    display: none;
    }
   
  .mobile-menu-icon {
    margin: 3% 5%;
    width: 26px;
    padding: 0;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
  }
  
   .mobile-dropdown {
     width: 100%;
     height: 10%; 
     margin: 0;
     padding: 0;
    }
    
   .mobile-li {
     width: 100%;
     margin: 0px;
     color: white;
     background-color: #4a235a;
     text-transform: uppercase;
     list-style-type: none;
     padding: 2%;
     border-bottom: solid 1px gray;
     font-size: 1em;   
     float: left;
    }
    
   .mobile-a {
     font-family: Muli;
    } 
    
   .mobile-a:hover {
     text-decoration: none;
     color: gray;
    } 
    
    .active {
      color: cyan;
    }
    
    .active:hover {
      color: cyan;  
    }
    
    .selected {
      color: cyan;
      font-weight: bold;
    }

    .selected:hover {
      color: cyan;
      font-weight: bold;
    }
    
    .button:hover {
      text-decoration: none;
    }
    
    .contact {
      border-bottom: none;
    }
    
   .expand {
     height: 100%;  
    }
    
  .mobile-menu-icon {
    display: block;
}
    
  .mobile-menu-icon:hover {
  background-color: rgba(86, 101, 115, 0.1);
  border: none;
  border-radius: 50%;
}
    
    h1 {
        font-size: 1.4em;
        padding-top: 13%;
    }
    
}

@media (min-width: 0px) and (max-width: 600px) {
    a {
        color: gainsboro;
  }
}

@media (max-width: 500px) {
    .disclaimer-heading {
        font-size: 1.8em;
    }
    
    .disclaimer-img {
        font-size: 90px;
    }
}

@media (max-width: 400px) {
    .disclaimer-heading {
        font-size: 1.7em;
    }
    
    h1 {
            padding-top: 23%;
        }
}

    
    @media (max-width: 450px) {
        #panel1, #panel2, #panel3 {
        margin: 10px 0;
    }
        
        h1 {
         font-size: 1.2em;
         margin-bottom: 45px;
        }
    }
